@model Aviato.Models.Let

@{
    ViewBag.Title = "Detalji leta";
}

<h2>Detalji leta</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Destinacija
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destinacija1.Naziv)
        </dd>

        <dt>
            Vreme poletanja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VremePoletanja)
        </dd>

        <dt>
            Avion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avion1.SifraAviona)
        </dd>

        <dt>
            Pilot
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zaposleni1.Ime)
            @Html.DisplayFor(model => model.Zaposleni1.Prezime)

        </dd>

        <dt>
            Kopilot
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zaposleni.Ime)
            @Html.DisplayFor(model => model.Zaposleni.Prezime)

        </dd>

        <dt>
            Prvi stjuard
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zaposleni2.Ime)
            @Html.DisplayFor(model => model.Zaposleni2.Prezime)

        </dd>

        <dt>
            Drugi stjuard
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zaposleni3.Ime)
            @Html.DisplayFor(model => model.Zaposleni3.Prezime)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.LetId }) |
    @Html.ActionLink("Obriši", "Delete", new { id = Model.LetId }) |
    @Html.ActionLink("Nazad na spisak letova", "Index")
</p>
