@model IEnumerable<Aviato.Models.Let>

@{
    ViewBag.Title = "Pregled letova";
}

<h2>Pregled letova</h2>

<p>
    @Html.ActionLink("Postavi novi let", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Destinacija
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.VremePoletanja)
        </th>

        <th>
            Avion
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Destinacija1.Naziv)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.VremePoletanja )
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Avion1.SifraAviona)
        </td>

        <td>
            @Html.ActionLink("Detalji", "Details", new { id = item.LetId })
        </td>
    </tr>
}

</table>
