@model IEnumerable<Aviato.Models.Let>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Avion1.SifraAviona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destinacija1.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zaposleni.JMBG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zaposleni1.JMBG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zaposleni2.JMBG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zaposleni3.JMBG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VremePoletanja)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Avion1.SifraAviona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destinacija1.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zaposleni.JMBG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zaposleni1.JMBG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zaposleni2.JMBG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zaposleni3.JMBG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VremePoletanja)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LetId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LetId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LetId })
        </td>
    </tr>
}

</table>
